<!-- Entry Details Page -->

<h1><%= @entry["name"] %>, <%= @entry["name"] %></h1>

<ul>
  <li><%= @entry["title"] %></li>
  <li><%= @entry["occurred_on"] %></li>
  <li><%= @entry["description"] %></li>
</ul>

<p><a href="/place/<%= @entry["id"] %>">Back to <%= @place["name"] %></a></p>